<main id="main" class="main">
  <div class="pagetitle">
    <h1>فاتورة شراء</h1>
    <nav class="my-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">الصفحة الرئيسية</a></li>
        <li class="breadcrumb-item"></li>
        <li class="breadcrumb-item active">الفواتير</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="column row-md">
      <div class="col">
        <div class="card">
          <form [formGroup]="ImportRecieptForm">
            <div class="card-body">
              <h5 class="card-title">تفاصيل الفاتورة</h5>
              <div class="row">
                <div class="col">
                  <div class="d-flex align-items-center my-3">
                    <i class="bi bi-calendar-date"></i>
                    <span class="mx-3">التاريخ</span>
                  </div>
                  <input type="text" name="Date" formControlName="date" />
                </div>
                <div class="col">
                  <div class="d-flex align-items-center my-3">
                    <i class="bi bi-person-circle"></i>
                    <span class="mx-3">المستخدم</span>
                  </div>
                  <input type="text" name="User" formControlName="userName" />
                </div>
                <div class="col">
                  <div class="d-flex align-items-center my-3">
                    <i class="bi bi-journal-bookmark-fill"></i>
                    <span class="mx-3">الملاحظات</span>
                  </div>
                  <input type="text" name="User" formControlName="notes" />
                </div>
                <div class="col">
                  <div class="d-flex align-items-center my-3">
                    <i class="bi bi-box-seam"></i>
                    <span class="mx-3">المورد</span>
                  </div>
                  <div>
                    <mat-form-field>
                      <mat-select
                        [formControl]="supplierCtrl"
                        formControlName="supplierID"
                      >
                        <mat-option
                          [value]="supp.id"
                          *ngFor="let supp of Suppliers"
                        >
                          {{ supp.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">حساب الفاتورة</h5>
              <div class="row">
                <div class="col mb-3">
                  <label for="Amount" class="col-form-label"
                    >اجمالي الفاتورة</label
                  >
                  <div class="col-12">
                    <input
                      type="number"
                      name="TotalReciept"
                      class="form-control"
                      formControlName="total"
                    />
                  </div>
                </div>
                <div class="col mb-3">
                  <label for="Amount" class="col-form-label"
                    >المبلغ المدفوع</label
                  >
                  <div class="col-12">
                    <input
                      type="number"
                      name="Paid"
                      class="form-control"
                      formControlName="paid"
                    />
                  </div>
                </div>
                <div class="col mb-3">
                  <label for="Amount" class="col-form-label"
                    >المبلغ المتبقي</label
                  >
                  <div class="col-12">
                    <input
                      type="number"
                      name="Remaining"
                      class="form-control"
                      formControlName="remaining"
                    />
                  </div>
                </div>
                <div class="col mb-3">
                  <label for="Amount" class="col-form-label"
                    >اجمالي الخصم</label
                  >
                  <div class="col-12">
                    <input type="number" class="form-control" disabled />
                  </div>
                </div>
              </div>
            </div>
            {{ ImportRecieptForm.value | json }}
          </form>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">اضافة الاصناف</h5>
            <form [formGroup]="ImportProductFrom">
              <div class="row mb-3">
                <label for="ProductName" class="col-sm-2 col-form-label"
                  >اسم الصنف</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    list="Products"
                    id="Prod"
                    placeholder="اسم الصنف"
                  />
                  <datalist id="Products">
                    <option
                      *ngFor="let item of Products"
                      [value]="item.name"
                    ></option>
                  </datalist>
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <label for="Amount" class="col-form-label">الكمية</label>
                  <div class="col-sm-10">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="quantity"
                    />
                  </div>
                </div>
                <div class="col">
                  <label for="BuyingPrice" class="col-form-label"
                    >سعر الشراء</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="buyingPrice"
                    />
                  </div>
                </div>
                <div class="col">
                  <label for="SellingPrice" class="col-form-label"
                    >سعر البيع</label
                  >
                  <div class="col-sm-10">
                    <input type="number" class="form-control" disabled />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary">اضافة</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">اصناف الفاتورة</h5>
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th scope="col">كود</th>
                  <th scope="col">الصنف</th>
                  <th scope="col">الكمية</th>
                  <th scope="col">سعر الشراء</th>
                  <th scope="col">سعر البيع</th>
                  <th scope="col">الاجمالي</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let prod of ImportProducts">
                  <td>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gridRadios"
                      id="gridRadios1"
                      [value]="prod.id"
                    />
                  </td>
                  <th scope="row">{{ prod.id }}</th>
                  <td>{{ prod.name }}</td>
                  <td>{{ prod.quantity }}</td>
                  <td>{{ prod.buyingPrice }}</td>
                  <td>{{ prod.sellingPrice }}</td>
                  <td>{{ prod.quantity * prod.buyingPrice }}</td>
                </tr> -->
              </tbody>
            </table>
            <div class="d-flex justify-content-center">
              <button class="btn btn-success mx-3">تعديل</button>
              <button class="btn btn-danger mx-3">حذف</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary my-3">حفظ</button>
        </div>
      </div>
    </div>
  </section>
</main>
