<main id="main" class="main">
  <div class="pagetitle">
    <h1>فاتورة شراء</h1>
    <nav class="my-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/Home">الصفحة الرئيسية</a>
        </li>
        <li class="breadcrumb-item"></li>
        <li class="breadcrumb-item active">الفواتير</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="column row-md">
      <div class="col">
        <form [formGroup]="ImportRecieptForm" (ngSubmit)="Submit()">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">تفاصيل الفاتورة</h5>
              <div class="row">
                <div class="col">
                  <div class="d-flex align-items-center my-3">
                    <i class="bi bi-calendar-date"></i>
                    <span class="mx-3">التاريخ</span>
                  </div>
                  <input
                    type="text"
                    name="Date"
                    formControlName="date"
                    class="form-control"
                    readonly
                  />
                </div>
                <div class="col">
                  <div class="d-flex align-items-center my-3">
                    <i class="bi bi-person-circle"></i>
                    <span class="mx-3">المستخدم</span>
                  </div>
                  <input
                    type="text"
                    name="User"
                    formControlName="userName"
                    class="form-control"
                    readonly
                  />
                </div>
                <div class="col">
                  <div class="d-flex align-items-center my-3">
                    <i class="bi bi-journal-bookmark-fill"></i>
                    <span class="mx-3">الملاحظات</span>
                  </div>
                  <input
                    type="text"
                    name="User"
                    formControlName="notes"
                    class="form-control"
                  />
                </div>
                <div class="col">
                  <div class="d-flex align-items-center my-3">
                    <i class="bi bi-box-seam"></i>
                    <span class="mx-3">المورد</span>
                  </div>
                  <div>
                    <ngx-select
                      [items]="Suppliers"
                      formControlName="supid"
                      optionValueField="id"
                      optionTextField="name"
                    ></ngx-select>
                    <div
                      *ngIf="
                        submit && ImportRecieptForm.controls['supid'].errors
                      "
                      class="text-danger"
                    >
                      <small
                        *ngIf="
                          ImportRecieptForm.controls['supid'].errors['required']
                        "
                        >يجب اختيار المورد
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">اضافة الاصناف</h5>
                <div class="row mb-3">
                  <label for="ProductName" class="col-sm-2 col-form-label"
                    >اسم الصنف</label
                  >
                  <div class="col">
                    <ngx-select
                      [items]="Products"
                      optionValueField="id"
                      optionTextField="name"
                      [(ngModel)]="prodID"
                      [ngModelOptions]="{ standalone: true }"
                      (ngModelChange)="getProduct(prodID)"
                    ></ngx-select>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col">
                    <label for="Amount" class="col-form-label">الكمية</label>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="Quantity"
                        #prodQuantity="ngModel"
                        pattern="[0-9]{1,}"
                        required
                        [ngClass]="{
                          'is-invalid':
                            prodQuantity.invalid &&
                            (prodQuantity.dirty || prodQuantity.touched)
                        }"
                        [ngClass]="{
                          'is-valid': prodQuantity.valid
                        }"
                      />
                      <div
                        *ngIf="
                          prodQuantity.invalid &&
                          (prodQuantity.dirty || prodQuantity.touched)
                        "
                        class="text-danger"
                      >
                        <small *ngIf="prodQuantity.errors['required']">
                          يجب ادخال الكمية
                        </small>
                        <br />
                        <small *ngIf="prodQuantity.errors['pattern']">
                          يجب ادخال ارقام
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label for="BuyingPrice" class="col-form-label"
                      >سعر الشراء</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="number"
                        class="form-control"
                        disabled
                        [value]="prodbuyingPrice"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <label for="SellingPrice" class="col-form-label"
                      >سعر البيع</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="number"
                        class="form-control"
                        disabled
                        [value]="prodSellingPrice"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col d-flex justify-content-center">
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="addProduct(prodID)"
                      [disabled]="prodQuantity.invalid"
                    >
                      اضافة
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">اصناف الفاتورة</h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th scope="col">كود</th>
                      <th scope="col">الصنف</th>
                      <th scope="col">الكمية</th>
                      <th scope="col">سعر الشراء</th>
                      <th scope="col">الاجمالي</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let prod of ImportProducts">
                      <td>
                        <input
                          #radioInput
                          class="form-check-input"
                          type="radio"
                          name="gridRadios"
                          id="gridRadios1"
                          [value]="prod.productID"
                          [(ngModel)]="prodID"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </td>
                      <th>
                        {{ prod.productID }}
                      </th>
                      <td>
                        {{ prod.productName }}
                      </td>
                      <td class="col col-2">
                        <div *ngIf="!this.radioInput.checked">
                          {{ prod.quantity }}
                        </div>
                        <div *ngIf="this.radioInput.checked">
                          <input
                            [(ngModel)]="prod.quantity"
                            [ngModelOptions]="{ standalone: true }"
                            type="text"
                            pattern="[0-9]{1,}"
                            required
                            class="form-control"
                            #itemQuantity="ngModel"
                            [value]="prod.quantity"
                            (change)="change(prod.productID, prod.quantity)"
                            [ngClass]="{
                              'is-invalid':
                                (itemQuantity.invalid || tableNotValid) &&
                                (itemQuantity.dirty || itemQuantity.touched)
                            }"
                            [ngClass]="{
                              'is-valid': itemQuantity.valid && !tableNotValid
                            }"
                          />
                        </div>
                      </td>
                      <td>
                        {{ prod.buyingPrice }}
                      </td>
                      <td class="col col-2">
                        <div *ngIf="!this.radioInput.checked">
                          {{ prod.quantity * prod.buyingPrice }}
                        </div>
                        <div *ngIf="this.radioInput.checked">
                          <input
                            type="number"
                            [name]="prod.productID"
                            class="form-control"
                            [value]="prod.quantity * prod.buyingPrice"
                            readonly
                          />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-center">
                  <button class="btn btn-danger mx-3" (click)="deleteProd()">
                    حذف
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">حساب الفاتورة</h5>
                <div class="row">
                  <div class="col-12 col-md mb-3">
                    <label for="Amount" class="col-form-label"> الاجمالي</label>
                    <div class="col-12">
                      <input
                        type="number"
                        name="TotalReciept"
                        class="form-control"
                        [(ngModel)]="totalBeforeDisc"
                        [ngModelOptions]="{ standalone: true }"
                        (ngModelChange)="getRemain()"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-12 col-md mb-3">
                    <label for="Amount" class="col-form-label">
                      الاجمالي بعد الخصم</label
                    >
                    <div class="col-12">
                      <input
                        type="number"
                        name="TotalReciept"
                        class="form-control"
                        formControlName="total"
                        (ngModelChange)="getRemain()"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-12 col-md mb-3">
                    <label for="Amount" class="col-form-label"
                      >المبلغ المدفوع</label
                    >
                    <div class="col-12">
                      <input
                        type="text"
                        name="Paid"
                        class="form-control"
                        formControlName="paid"
                        (change)="getRemain()"
                        [ngClass]="{
                          'is-invalid':
                            submit && ImportRecieptForm.controls['paid'].errors
                        }"
                        [ngClass]="{
                          'is-valid': ImportRecieptForm.controls['paid'].valid
                        }"
                      />
                      <div
                        *ngIf="
                          submit && ImportRecieptForm.controls['paid'].errors
                        "
                        class="text-danger"
                      >
                        <small
                          *ngIf="
                            ImportRecieptForm.controls['paid'].errors[
                              'required'
                            ]
                          "
                        >
                          يجب ادخال المبلغ المدفوع
                        </small>
                        <br />
                        <small
                          *ngIf="
                            ImportRecieptForm.controls['paid'].errors['pattern']
                          "
                        >
                          يجب ادخال ارقام
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md mb-3">
                    <label for="Amount" class="col-form-label">الخصم</label>
                    <div class="col-12">
                      <input
                        [(ngModel)]="Disc"
                        [ngModelOptions]="{ standalone: true }"
                        type="text"
                        pattern="[0-9]{1,}"
                        class="form-control"
                        #itemDisc="ngModel"
                        [value]="0"
                        (change)="discount(itemDisc.value)"
                        [ngClass]="{
                          'is-invalid':
                            itemDisc.invalid &&
                            (itemDisc.dirty || itemDisc.touched)
                        }"
                        [ngClass]="{
                          'is-valid': itemDisc.valid && itemDisc.touched
                        }"
                      />
                      <div *ngIf="itemDisc.errors" class="text-danger">
                        <br />
                        <small *ngIf="itemDisc.errors['pattern']">
                          يجب ادخال ارقام
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md mb-3">
                    <label for="Amount" class="col-form-label"
                      >المبلغ المتبقي</label
                    >
                    <div class="col-12">
                      <input
                        type="number"
                        name="Remaining"
                        class="form-control"
                        formControlName="remaining"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary my-3" type="submit">حفظ</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
