<main id="main" class="main">
  <div class="pagetitle">
    <h1>فاتورة شراء</h1>
    <nav class="my-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/Home">الصفحة الرئيسية</a>
        </li>
        <li class="breadcrumb-item"></li>
        <li class="breadcrumb-item active">الفواتير</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="column row-md">
      <div class="col">
        <div class="card">
          <form [formGroup]="ImportRecieptForm" (ngSubmit)="Submit()">
            <div class="card-body">
              <h5 class="card-title">تفاصيل الفاتورة</h5>
              <div class="row">
                <div class="col">
                  <div class="d-flex align-items-center my-3">
                    <i class="bi bi-calendar-date"></i>
                    <span class="mx-3">التاريخ</span>
                  </div>
                  <input
                    type="text"
                    name="Date"
                    formControlName="date"
                    readonly
                  />
                </div>
                <div class="col">
                  <div class="d-flex align-items-center my-3">
                    <i class="bi bi-person-circle"></i>
                    <span class="mx-3">المستخدم</span>
                  </div>
                  <input
                    type="text"
                    name="User"
                    formControlName="userName"
                    readonly
                  />
                </div>
                <div class="col">
                  <div class="d-flex align-items-center my-3">
                    <i class="bi bi-journal-bookmark-fill"></i>
                    <span class="mx-3">الملاحظات</span>
                  </div>
                  <input type="text" name="User" formControlName="notes" />
                </div>
                <div class="col">
                  <div class="d-flex align-items-center my-3">
                    <i class="bi bi-box-seam"></i>
                    <span class="mx-3">المورد</span>
                  </div>
                  <div>
                    <mat-form-field>
                      <mat-select formControlName="supid">
                        <mat-option
                          [value]="supp.id"
                          *ngFor="let supp of Suppliers"
                        >
                          {{ supp.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">اضافة الاصناف</h5>
                  <div class="row mb-3">
                    <label for="ProductName" class="col-sm-2 col-form-label"
                      >اسم الصنف</label
                    >
                    <div class="col-sm-10">
                      <mat-form-field>
                        <mat-select
                          #selectProd
                          (selectionChange)="getProduct(selectProd.value)"
                        >
                          <mat-option
                            [value]="prod.id"
                            *ngFor="let prod of Products"
                          >
                            {{ prod.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row my-3">
                    <div class="col">
                      <label for="Amount" class="col-form-label">الكمية</label>
                      <div class="col-sm-10">
                        <input
                          type="number"
                          class="form-control"
                          [ngModelOptions]="{ standalone: true }"
                          [(ngModel)]="Quantity"
                        />
                      </div>
                    </div>
                    <div class="col">
                      <label for="BuyingPrice" class="col-form-label"
                        >سعر الشراء</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="number"
                          class="form-control"
                          disabled
                          [value]="prodSellingPrice"
                        />
                      </div>
                    </div>
                    <div class="col">
                      <label for="SellingPrice" class="col-form-label"
                        >سعر البيع</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="number"
                          class="form-control"
                          disabled
                          [value]="prodbuyingPrice"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col d-flex justify-content-center">
                      <button
                        type="button"
                        class="btn btn-primary"
                        (click)="addProduct(selectProd.value)"
                      >
                        اضافة
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">اصناف الفاتورة</h5>
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th scope="col">كود</th>
                        <th scope="col">الصنف</th>
                        <th scope="col">الكمية</th>
                        <th scope="col">سعر الشراء</th>
                        <th scope="col">الاجمالي</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let prod of ImportProducts">
                        <td>
                          <input
                            #radioInput
                            class="form-check-input"
                            type="radio"
                            name="gridRadios"
                            id="gridRadios1"
                            [value]="prod.productID"
                            [(ngModel)]="prodID"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </td>
                        <th>
                          {{ prod.productID }}
                        </th>
                        <td>
                          {{ prod.productName }}
                        </td>
                        <td class="col col-2">
                          <div *ngIf="!this.radioInput.checked">
                            {{ prod.quantity }}
                          </div>
                          <div *ngIf="this.radioInput.checked">
                            <input
                              [(ngModel)]="prod.quantity"
                              [ngModelOptions]="{ standalone: true }"
                              type="number"
                              class="form-control"
                              [value]="prod.quantity"
                              (change)="change(prod.productID, prod.quantity)"
                            />
                          </div>
                        </td>
                        <td>
                          {{ prod.buyingPrice }}
                        </td>
                        <td class="col col-2">
                          <div *ngIf="!this.radioInput.checked">
                            {{ prod.quantity * prod.buyingPrice }}
                          </div>
                          <div *ngIf="this.radioInput.checked">
                            <input
                              type="number"
                              [name]="prod.productID"
                              class="form-control"
                              [value]="prod.quantity * prod.buyingPrice"
                              readonly
                            />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-center">
                    <button class="btn btn-danger mx-3" (click)="deleteProd()">
                      حذف
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">حساب الفاتورة</h5>
                  <div class="row">
                    <div class="col mb-3">
                      <label for="Amount" class="col-form-label">
                        الاجمالي</label
                      >
                      <div class="col-12">
                        <input
                          type="number"
                          name="TotalReciept"
                          class="form-control"
                          formControlName="total"
                          readonly
                        />
                      </div>
                    </div>
                    <div class="col mb-3">
                      <label for="Amount" class="col-form-label"
                        >المبلغ المدفوع</label
                      >
                      <div class="col-12">
                        <input
                          type="number"
                          name="Paid"
                          class="form-control"
                          formControlName="paid"
                          (change)="getRemain()"
                        />
                      </div>
                    </div>
                    <div class="col mb-3">
                      <label for="Amount" class="col-form-label"
                        >المبلغ المتبقي</label
                      >
                      <div class="col-12">
                        <input
                          type="number"
                          name="Remaining"
                          class="form-control"
                          formControlName="remaining"
                          readonly
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button class="btn btn-primary my-3">حفظ</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
