<main id="main" class="main">
  <section>
    <div class="pagetitle">
      <div class="row">
        <div class="col">
          <img src="/assets/img/LOGO.jpg" alt="" width="200" height="60" />
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      >
        <div *ngIf="type == 0 || type == 1 || type == 2">
          <div class="col mb-5">
            <div class="card h-100">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">العملاء</h5>
                  <a class="justify-content-start" routerLink="/customer">
                    <div class="icon">
                      <i
                        style="font-size: 100px; color: #000"
                        class="bi bi-person-bounding-box"
                      ></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="type == 0 || type == 1">
          <div class="col mb-5">
            <div class="card h-100">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">فواتير البيع</h5>
                  <a
                    class="justify-content-start"
                    routerLink="/Receiptforstore"
                  >
                    <div class="icon">
                      <i
                        style="font-size: 100px; color: cornflowerblue"
                        class="bi bi-cart4"
                      ></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="type == 2">
          <div class="col mb-5">
            <div class="card h-100">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">فواتير البيع</h5>
                  <a class="justify-content-start" routerLink="/ReceiptFormCar">
                    <div class="icon">
                      <i
                        style="font-size: 100px; color: cornflowerblue"
                        class="bi bi-cart4"
                      ></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="type == 0 || type == 1">
          <div class="col mb-5">
            <div class="card h-100">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">المنتجات</h5>
                  <a class="justify-content-start" routerLink="/products">
                    <div class="icon">
                      <i
                        style="font-size: 100px; color: darkgoldenrod"
                        class="bi bi-shop"
                      ></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="type == 2">
          <div class="col mb-5">
            <div class="card h-100">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">المنتجات</h5>
                  <a class="justify-content-start" routerLink="/car-store">
                    <div class="icon">
                      <i
                        style="font-size: 100px; color: darkgoldenrod"
                        class="bi bi-shop"
                      ></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="type == 0 || type == 1">
          <div class="col mb-5">
            <div class="card h-100">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">فواتير الشراء</h5>
                  <a class="justify-content-start" routerLink="/importreciept">
                    <div class="icon">
                      <i
                        style="font-size: 100px; color: darkslateblue"
                        class="bx bx-file"
                      ></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="type == 0 || type == 1">
          <div class="col mb-5">
            <div class="card h-100">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">الموردين</h5>
                  <a class="justify-content-start" routerLink="/supliers">
                    <div class="icon">
                      <i
                        style="font-size: 100px; color: dimgrey"
                        class="bi bi-person-badge-fill"
                      ></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="type == 0 || type == 1">
          <div class="col mb-5">
            <div class="card h-100">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">الخزنة</h5>
                  <a class="justify-content-start" routerLink="/Transaction">
                    <div class="icon">
                      <i
                        style="font-size: 100px; color: chocolate"
                        class="bi bi-safe2-fill"
                      ></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="type == 0">
          <div class="col mb-5">
            <div class="card h-100">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">التقارير</h5>

                  <a class="justify-content-start" routerLink="/reports">
                    <div class="icon">
                      <i
                        style="font-size: 100px; color: blueviolet"
                        class="bi bi-graph-up"
                      ></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="type == 0">
          <div class="col mb-5">
            <div class="card h-100">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">المستخدمين</h5>
                  <a class="justify-content-start" routerLink="/users">
                    <div class="icon">
                      <i
                        style="font-size: 100px; color: darkcyan"
                        class="bi bi-people"
                      ></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="type == 0 || type == 1">
          <div class="col mb-5">
            <div class="card h-100">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">العربات</h5>
                  <a class="justify-content-start" routerLink="/car-data">
                    <div class="icon">
                      <i
                        style="font-size: 100px; color: firebrick"
                        class="bi bi-truck"
                      ></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
