<main id="main" class="main">
  <section>
    <div class="pagetitle">
      <div class="row">
        <div class="col">
          <img src="/assets/img/LOGO.jpg" alt="" />
          <h3>محمد مختار للادوات الصحية</h3>
          <h4>موبيل: 01091676218</h4>
          <h4>واتساب: 01153081411</h4>
        </div>
        <div class="col">
          <img
            src="/assets/img/background2.jpeg"
            class="rounded-top"
            alt="..."
          />
        </div>
      </div>
    </div>
  </section>
  <section class="container services my-5">
    <div
      class="my-5 pb-5 servicecontent row d-flex align-items-center justify-content-center"
    >
      <div class="card border-info mb-3" style="max-width: 18rem">
        <h4 class="bi bi-people">العملاء</h4>
        <div class="card-body text-info">
          <h5 class="card-title">بيانات العملاء</h5>
          <a class="justify-content-start" routerLink="/customer">
            <p class="card-text">لإضــــــــــــافة عميل جديد</p>

            <div class="icon">
              <i style="font-size: 100px" class="bx bxs-user-plus"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="card border-info mb-3" style="max-width: 18rem">
        <h4 class="ri-bill-fill">الفواتير</h4>
        <div class="card-body text-info">
          <h5 class="card-title">عمليه البيع</h5>
          <a class="justify-content-start" routerLink="/Receiptforstore">
            <p class="card-text">فـــــــاتورة البيع</p>
            <div class="icon">
              <i style="font-size: 100px" class="bx bx-file"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="card border-info mb-3" style="max-width: 18rem">
        <h4 class="ri ri-store-2-line">المنتجات</h4>
        <div class="card-body text-info">
          <h5 class="card-title">المخزن</h5>
          <a
            class="nav-link collapsed justify-content-start"
            routerLink="/products"
          >
            <p class="card-text">لإضــــــــــــافة منتج جديد</p>
            <div class="icon">
              <i style="font-size: 100px" class="bx bxs-cart-add"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
