
<main id="main" class="main">
  <div class="pagetitle">
      <h1>حسابات العربه </h1>
      <nav class="my-3">
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">الصفحة الرئيسية</a></li>
           <li class="breadcrumb-item"></li>
           <li class="breadcrumb-item active">العربه</li>
        </ol>
     </nav>
   </div>
  <section dir="rtl">

      <div class="col">
          <div class="card ">
              <div class="card-body">
                 <h5 class="card-title">حساب العربه</h5>
                 <form [formGroup]="caraccountform" (ngSubmit)="cardata()">

                  <div class="row my-3">
                     <div class="col-md-6 col-12 ">
                        <label for="inputText" class=" col-form-label">اسم العربه</label>
                        <div class="col-sm-10 align-items-center">
                          <input  type="text" class="form-control" id="inputText"  placeholder="اسم العربه">
                        </div>
                     </div>
                     <div class="row my-3">
                      <div class="col">
                        <label for="Amount" class=" col-form-label">  المبلغ المدفوع</label>
                        <div class="col-sm-10"> <input id="Amount" type="number" class="form-control" ></div>
                      </div>
                      <div class="col">
                        <label for="Amount" class=" col-form-label"> المبلغ المتبقى</label>
                        <div class="col-sm-10"> <input id="Amount" type="number" class="form-control" ></div>
                     </div>
                     </div>
                     <div class="col-md-6 col-12 ">
                        <label for="Notes" class=" col-form-label">ملاحظات</label>
                        <div class="col-sm-10"><textarea id="my-textarea" class="form-control" name="" rows="2"></textarea> </div>
                     </div>
                     <div class="col-md-6 col-12 d-flex align-items-end mt-3 justify-content-center ">
                       <button type="submit" class="btn btn-primary px-4 py-2 ">اضافة</button></div>

                  </div>
               </form>
              </div>
          </div>

      </div>
      <div class="col">
        <div class="card ">
            <div class="card-body">
               <h5 class="card-title">عمليه الدفع</h5>

               <form [formGroup]="caraccountformsc" (ngSubmit)="cardatasc()">

                <div class="row my-3">

                   <div class="row my-3">
                    <div class="col-md-6 col-12">
                      <label for="Amount" class=" col-form-label"> المبلغ</label>
                      <div class="col-sm-10"> <input id="Amount" type="number" class="form-control" ></div>
                   </div>

                   </div>
                   <div class="col-md-6 col-12 ">
                      <label for="Notes" class=" col-form-label">ملاحظات</label>
                      <div class="col-sm-10"><textarea id="my-textarea" class="form-control" name="" rows="2"></textarea> </div>
                   </div>
                   <div class="col-md-6 col-12 d-flex align-items-end mt-3 justify-content-center ">
                     <button type="submit" class="btn btn-info px-4 py-2 ">دفع</button>&nbsp; &nbsp;
                     <button type="submit" class="btn btn-dark px-4 py-2 ">توريد</button></div>
                </div>
             </form>
            </div>
        </div>
    </div>

      <div class="col-12">
          <div class="card overflow-auto">
              <div class="card-body p-3">
                 <h5 class="card-title"> بيانات العربات </h5>

                  <table class="table overflow-scroll  ">
                      <thead class="">
                          <tr class="text-center m-3 p-2">
                              
                              <th>الرقم</th>
                              <th class="text-center">اسم العربه </th>
                              <th class="text-center">المبلغ</th>
                              <th class="text-center">نوع العمليه </th>
                              <th class="text-center">ملاحظات</th>
                          </tr>
                      </thead>

                      <tbody>
                          <tr class="text-center" *ngFor="let item of caraccount" >
                              <td> <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" > </td>
                              <th scope="row"><a href="#">#2049</a></th>
                              <td > {{item.id}} </td>
                              <td >{{item.name}}</td>
                              <!-- <td >{{item.account}}</td> -->
                              <td >{{item.notes}}</td>
                          </tr>
                         
                      </tbody>
                  </table>
                  <div class="row">
                      <div class=" d-flex align-items-center justify-content-center ">
                          <button type="button" class="btn btn-success rounded-3 mx-3 px-3 ">تعديل</button>
                          <button type="button" class="btn btn-danger rounded-3 mx-3 px-3  ">حذف</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </section>
