<main id="main" class="main">
    <div class="pagetitle" >
       <h1  style="text-align: right;">فاتورة بيع المخزن </h1>
       <nav class="my-3">
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">الصفحة الرئيسية</a></li>
           <li class="breadcrumb-item"></li>
           <li class="breadcrumb-item active">الفواتير</li>
        </ol>
     </nav>
    </div>
  
   <section class="section" >
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title" style="text-align: right;"> تفاصيل  الفاتورة </h5>
                  <form>
                    <div class="col col-lg-8">
                        <div class="d-flex align-items-center my-3" > 
                           <i class="bi bi-box-seam"></i>
                           <span  class="mx-3">العميل</span>
                        </div>
                        <div>
                           <input class="form-control" list="Suppliers" id="Supp" placeholder="أسم العميل">
                           <datalist id="Suppliers">
                              <option *ngFor="let item of client" [value]="item">
                           </datalist>
                        </div>
                     </div>
                    <div class="row mb-3">
                       <label for="ProductName" class="col-sm-2 col-form-label">اسم الصنف</label>
                       <div class="col-sm-10"> 
                          <input class="form-control" list="Products" id="Prod" placeholder="اسم الصنف">
                             <datalist id="Products">
                                 <option *ngFor="let item of Products " [value]="item">  
                             </datalist>
                       </div>
                    </div>
                    <div class="row my-3">
                       <div class="col">
                          <label for="Amount" class=" col-form-label">الكمية</label>
                          <div class="col-sm-10"> <input type="number" class="form-control"></div>
                       </div>
                       <div class="col">
                          <label for="BuyingPrice" class=" col-form-label">سعر البيع </label>
                          <div class="col-sm-10"> <input type="number" class="form-control" disabled></div>
                       </div>
                       <div class="col">
                          <label for="SellingPrice" class=" col-form-label">سعر البيع النهائي</label>
                          <div class="col-sm-10"> <input type="number" class="form-control" ></div>
                       </div>
                    </div>
                    <div class="row mb-3 ">
                       <div class="col d-flex justify-content-center"> <button type="submit" class="btn btn-primary">اضافة</button></div>
                    </div>
                 </form>
               </div>
            </div>
         </div>
      </div> 
         </section>
   <section class="section"  >
    <div class="col">
        <div class="card">
           <div class="card-body">
              <h5 class="card-title">اصناف الفاتورة</h5>
              <table class="table ">
                 <thead>
                    <tr>
                       <th></th>
                       <th scope="col">كود </th>
                       <th scope="col"> الصنف</th>
                       <th scope="col">الكمية</th>
                       <th scope="col">سعر البيـــع النهائي</th>
                       <th scope="col">الاجمالي</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                       <td>
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                       </td>
                       <th scope="row">1</th>
                       <td>حنفية</td>
                       <td>3</td>
                       <td>40</td>
                       <td>105</td>
                    </tr>
                    <tr>
                       <td>
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                       </td>
                       <th scope="row">2</th>
                       <td>لي سخان</td>
                       <td>3</td>
                       <td>40</td>
                       <td>105</td>
                    </tr>
                 </tbody>
              </table>
              <div class="d-flex justify-content-center">
                 <button class="btn btn-success mx-3">تعديل</button>
                 <button class="btn btn-danger mx-3">حذف</button>
                 <button class="btn btn-secondary mx-3">حفظ</button>

              </div>
           </div>
        </div>
     </div>
   </section>


 </main>



