<main id="main" class="main" dir="rtl">
  <div class="pagetitle">
    <h1>المستخدمبن</h1>

    <nav class="my-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">الصفحة الرئيسية</a></li>
        <li class="breadcrumb-item"></li>
        <li class="breadcrumb-item active">العملاء</li>
      </ol>
    </nav>

    <section class="section">
      <div class="form-group">
        <form [formGroup]="AddUser" (ngSubmit)="Adduser()">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <br />
                <h5>أضافة مستخدم</h5>
                <div class="row">
                  <div class="mb-3 col col-lg-6">
                    <label for="username" class="col-form-label"
                      >اسم المستخدم</label
                    >

                    <div class="col-sm-10">
                      <div>
                        <input
                          type="text"
                          formControlName="userName"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col col-lg-6">
                    <label for="password" class="col-form-label"
                      >كلمة السر
                    </label>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        formControlName="password"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-6 my-3">
                    <mat-form-field>
                      <mat-label>أختر نوع المستخدم</mat-label>
                      <mat-select
                        formControlName="type"
                        (selectionChange)="selectchange()"
                      >
                        <mat-option value="0">أدمن</mat-option>
                        <mat-option value="1">بائع المخزن</mat-option>
                        <mat-option value="2">بائع العربه</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div
                    class="col col-lg-6 my-3"
                    *ngIf="AddUser.controls['type'].value == 2"
                  >
                    <mat-form-field>
                      <mat-label>العربات المتاحة</mat-label>
                      <mat-select formControlName="carID">
                        <mat-option
                          [value]="car.id"
                          *ngFor="let car of avaliabelcars"
                        >
                          {{ car.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col d-flex justify-content-center">
                    <button type="Submit" class="btn btn-primary">اضافة</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
  <div class="col-12">
    <div class="card overflow-auto">
      <div class="card-body p-3">
        <h5 class="card-title">بيانات المستخدمين</h5>

        <table class="table  overflow-scroll">
          <thead>
            <tr>
              <th></th>
              <th scope="col">اسم المستخدم</th>
              <th scope="col">كلمة السر</th>
              <th scope="col">نوعه</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>
                <input
                  #radioInput
                  class="form-check-input"
                  type="radio"
                  name="gridRadios"
                  id="gridRadios1"
                  [value]="user.userName"
                  [(ngModel)]="Username"
                  [ngModelOptions]="{ standalone: true }"
                />
              </td>

              <td>
                {{ user.userName }}
              </td>

              <td>
                <div *ngIf="!this.radioInput.checked">
                  {{ user.password }}
                </div>
                <div *ngIf="this.radioInput.checked">
                  <input
                    [(ngModel)]="user.password"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    [value]="user.password"
                    (change)="
                      updateuser(user.userName, user.password, radioInput)
                    "
                  />
                </div>
              </td>

              <td [ngSwitch]="user.type">
                <div *ngSwitchCase="0">أدمن</div>
                <div *ngSwitchCase="1">بائع المخزن</div>
                <div *ngSwitchCase="2">بائع العربة رقم {{ user.carID }}</div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center">
          <!--  <button class="btn btn-success mx-3">تعديل</button> -->
          <button class="btn btn-danger mx-3" (click)="deleteuser(Username)">
            حذف
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
