<main dir="rtl" id="main" class="main ">
  <mat-tab-group>
    <mat-tab label="العملاء">

      <div class="col ">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title" class="card-title"> العميل </h3>

            <div class="row justify-content-between">
              <div class="col-xs-12 col-12 col-md-4 form-group ">
                <label for="Date" class="col-form-label">التاريخ </label>
                <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker
                  [bsConfig]="{ isAnimated: true ,containerClass: 'theme-dark-blue'}" [(ngModel)]=" CustRangeValue">
              </div>
              <div class="col-12 col-lg-6 ">
                <label for="inputText" class="col-form-label">اسم العميل</label>
                <div class="col-sm-10">
                  <div>
                    <mat-form-field>
                      <mat-select [(value)]="customerID"  (selectionChange)="fillCustomerReceipts()" >
                        <mat-option *ngFor="let custmer of customers" [value]="custmer.id">
                          {{ custmer.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden">
        <div class=" row ">
          <div class="col-12 col-md-6   ">
            <div class="card ">
              <div class="card-body" style="height: 252px ;">
                <h3 class="card-title" class="card-title"> فواتير العميل </h3>
                <div class="row  ">
                  <div class="">
                    <input class="form-check-input" type="checkbox" name="remember" id="rememberMe"
                      [(ngModel)]="CustCheckbox" />
                    <label class="form-check-label mx-3" for="rememberMe">فاتورة</label>

                  </div>

                  <div *ngIf="CustCheckbox" class="col">
                    <div>
                      <mat-form-field>
                        <mat-select [(value)]="CustReceiptID">
                          <mat-option *ngFor="let trans of custtransactionsReceipts" [value]="trans.operationID">
                            {{ trans.operationID }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col my-4">

                </div>
                <div class="row">
                  <div class="col d-flex justify-content-center">
                    <button class="btn btn-primary" type="button" (click)="CustomerReceipts()">عرض التقرير </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 ">
            <div class="card">
              <div class="card-body  " style="height: 252px ;">
                <h3 class="card-title" class="card-title"> كشف حساب العميل </h3>
                <div style="height: 43px ;"></div>
                <div class="col d-flex justify-content-center align-items-center">
                  <button class="btn btn-primary" type="button" (click)="CustomerAccount()">عرض التقرير </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12  ">
            <div class="card">
              <div class="card-body  " style="height: 252px ;">
                <div class="text-center py-5">
                  <h1 class="card-title" class="card-title"> اجمالي حساب العملاء</h1>
                  <div class="row justify-content-center">
                      <div class="col-md-4 col">
                        <a class="btn btn-primary" routerLink="/CustTotal" >عرض التقرير </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="الموردين">
      <div class="col ">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title" class="card-title"> المورد </h3>

            <div class="row justify-content-between">
              <div class="col-xs-12 col-12 col-md-4 form-group ">
                <label for="Date" class="col-form-label">التاريخ </label>
                <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker
                  [bsConfig]="{ isAnimated: true ,containerClass: 'theme-dark-blue'}" [(ngModel)]=" SUPRangeValue">
              </div>
              <div class="col-12 col-lg-6 ">
                <label for="inputText" class="col-form-label">اسم المورد</label>
                <div class="col-sm-10">
                  <div>
                    <mat-form-field>
                      <mat-select [(value)]="SUPID"  (selectionChange)="fillSupplierReceipts()" >
                        <mat-option *ngFor="let SUP of Suppliers" [value]="SUP.id">
                          {{ SUP.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden">
        <div class=" row ">
          <div class="col-12 col-md-6   ">
            <div class="card ">
              <div class="card-body" style="height: 252px ;">
                <h3 class="card-title" class="card-title"> فواتير المورد </h3>
                <div class="row  ">
                  <div class="">
                    <input class="form-check-input" type="checkbox" name="remember" id="rememberMe"
                      [(ngModel)]="SUPCheckbox" />
                    <label class="form-check-label mx-3" for="rememberMe">فاتورة</label>

                  </div>

                  <div *ngIf="SUPCheckbox" class="col">
                    <div>
                      <mat-form-field>
                        <mat-select [(value)]="SUPReceiptID">
                          <mat-option *ngFor="let trans of SUPtransactionsReceipts" [value]="trans.operationID">
                            {{ trans.operationID }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col my-4">

                </div>
                <div class="row">
                  <div class="col d-flex justify-content-center">
                    <button class="btn btn-primary" type="button" (click)="SupplierReceipts()">عرض التقرير </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 ">
            <div class="card">
              <div class="card-body  " style="height: 252px ;">
                <h3 class="card-title" class="card-title"> كشف حساب المورد </h3>
                <div style="height: 43px ;"></div>
                <div class="col d-flex justify-content-center align-items-center">
                  <button class="btn btn-primary" type="button" (click)="SupplierAccount()">عرض التقرير </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12  ">
            <div class="card">
              <div class="card-body  " style="height: 252px ;">
                <div class="text-center py-5">
                  <h1 class="card-title" class="card-title"> اجمالي حساب الموردين</h1>
                  <div class="row justify-content-center">
                      <div class="col-md-4 col">
                        <a class="btn btn-primary" routerLink="/SuppTotal" >عرض التقرير </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="العربات">
      <div class="col ">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title" class="card-title"> العربات </h3>

            <div class="row justify-content-between">
              <div class="col-xs-12 col-12 col-md-4 form-group ">
                <label for="Date" class="col-form-label">التاريخ </label>
                <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker
                  [bsConfig]="{ isAnimated: true ,containerClass: 'theme-dark-blue'}" [(ngModel)]=" CARRangeValue">
              </div>
              <div class="col-12 col-lg-6 ">
                <label for="inputText" class="col-form-label">اسم العربة</label>
                <div class="col-sm-10">
                  <div>
                    <mat-form-field>
                      <mat-select [(value)]="CARID"  (selectionChange)="fillCARReceipts()" >
                        <mat-option *ngFor="let CAR of CARs" [value]="CAR.id">
                          {{ CAR.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overflow-hidden">
        <div class=" row ">
          <div class="col-12 col-md-6   ">
            <div class="card ">
              <div class="card-body" style="height: 252px ;">
                <h3 class="card-title" class="card-title"> فواتير  توريد العربة </h3>
                <div class="row  ">
                  <div class="">
                    <input class="form-check-input" type="checkbox" name="remember" id="rememberMe"
                      [(ngModel)]="CARCheckbox" />
                    <label class="form-check-label mx-3" for="rememberMe">فاتورة</label>

                  </div>

                  <div *ngIf="CARCheckbox" class="col">
                    <div>
                      <mat-form-field>
                        <mat-select [(value)]="CARReceiptID">
                          <mat-option *ngFor="let trans of CARtransactionsReceipts" [value]="trans.operationID">
                            {{ trans.operationID }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col my-4">

                </div>
                <div class="row">
                  <div class="col d-flex justify-content-center">
                    <button class="btn btn-primary" type="button" (click)="CARReceipts()">عرض التقرير </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 ">
            <div class="card">
              <div class="card-body  " style="height: 252px ;">
                <h3 class="card-title" class="card-title"> كشف حساب العربة </h3>
                <div style="height: 43px ;"></div>
                <div class="col d-flex justify-content-center align-items-center">
                  <button class="btn btn-primary" type="button" (click)="CARAccount()">عرض التقرير </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 ">
            <div class="card">
              <div class="card-body  " style="height: 252px ;">
                <h3 class="card-title" class="card-title"> فواتير بيع العربة </h3>
                <div style="height: 43px ;"></div>
                <div class="col d-flex justify-content-center align-items-center">
                  <button class="btn btn-primary" type="button" (click)="CARSellReceipt()">عرض التقرير </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 ">
            <div class="card">
              <div class="card-body  " style="height: 252px ;">
                <h3 class="card-title" class="card-title"> هامش ربح العربه</h3>
                <div style="height: 43px ;"></div>
                <div class="col d-flex justify-content-center align-items-center">
                  <button class="btn btn-primary" type="button" (click)="CARProfitMargin()">عرض التقرير </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </mat-tab>

    <mat-tab label="الاجمالى">
      <div class="col ">
        
        <div class="card">
          <div class="card-body">
            <h3 class="card-title" class="card-title"> صافى الربح </h3>

            <h3 class="card-title" class="card-title"> التاريخ  </h3>

            <div class="row justify-content-between align-items-center">
              <div class="col-xs-12 col-12 col-md-4 form-group ">
                <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker
                  [bsConfig]="{ isAnimated: true ,containerClass: 'theme-dark-blue'}" [(ngModel)]=" TotalRangeValue">
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="overflow-hidden">
        <div class=" row ">
          <div class="col-12 col-md-6   ">
            <div class="card ">
              <div class="card-body" style="height: 252px ;">
                <h3 class="card-title" class="card-title"> صافى الربح </h3>
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-4 col">
                      <button class="btn btn-primary" type="button" (click)="Totaleceipts()">عرض التقرير </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6   ">
            <div class="card ">
              <div class="card-body" style="height: 252px ;">
                <h3 class="card-title" class="card-title">صافى ربح المخزن</h3>
                <div class="row justify-content-center">
                    <div class="col-md-4 col">
                      <button class="btn btn-primary" type="button" (click)="TotalStoreReceipts()">عرض التقرير </button>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6   ">
            <div class="card ">
              <div class="card-body" style="height: 252px ;">
                <h3 class="card-title" class="card-title">هامش ربح المخزن</h3>
                <div class="row justify-content-center">
                    <div class="col-md-4 col">
                      <button class="btn btn-primary" type="button" (click)="StoreProfitMargin()">عرض التقرير </button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="المخزن">
      <div class="col ">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h3 class="card-title" class="card-title">اجمالي المخزن</h3>
              <div class="row justify-content-center">
                  <div class="col-md-4 col">
                    <a class="btn btn-primary" routerLink="/SotreTotal" >عرض التقرير </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>


  </mat-tab-group>
</main>