<main id="main" class="main">
    <div class="pagetitle">
        <h1>ادارة الخزنة</h1>
        <nav class="my-3">
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">الصفحة الرئيسية</a></li>
             <li class="breadcrumb-item"></li>
             <li class="breadcrumb-item active">الخزنة</li>
          </ol>
       </nav>
     </div>

    <section dir="rtl">

        <div class="col">
            <div class="card ">
                <div class="card-body">
                   <h5 class="card-title">اضافه تعامل</h5>
                   <form [formGroup]="UserTransaction" (ngSubmit)="addTrans()" >

                    <div class="row my-3">
                       <div class="col-md-6 col-12 ">
                          <label for="Amount" class=" col-form-label">نوع البند</label>
                          <div class="col-sm-10 align-items-center"> 
                            <input class="form-control" list="type" name="type" formControlName="type" [(ngModel)]="type"  placeholder=" نوع البند">
                             <datalist id="Type">
                                <option value="تصليح عربيه">
                                <option value="اجرة تخزين">
                             </datalist>
                          </div>
                       </div>
                       <div class="col-md-6 col-12">
                          <label for="Amount" class=" col-form-label"> المبلغ</label>
                          <div class="col-sm-10"> <input id="Amount" type="number" formControlName="amount" name="amount"  class="form-control" [(ngModel)]="amount" ></div>
                       </div>
                       <!-- <div class="col-md-6 col-12 ">
                          <label for="Notes" class=" col-form-label">data</label>
                          <div class="col-sm-10"><datalist id="userdat" class="form-control"  formControlName="date" name="date"  [(ngModel)]="date" rows="2"></datalist> </div>
                       </div> -->
                       <div class="col-md-6 col-12 d-flex align-items-end mt-3 justify-content-center ">
                         <button type="submit" class="btn btn-primary px-4 py-2 ">اضافة</button></div>
                    
                    </div>
                   
                 </form>


                </div> 
            </div>

        </div>

        <div class="col-12" >
            <div class="card overflow-auto">
                <div class="card-body p-3">
                   <h5 class="card-title"> عرض التعاملات</h5>
              <table class="table overflow-scroll  "  >
                        <thead class="">
                            <tr class="text-center m-3 p-2">
                               <th></th>
                                <th>كود</th>
                                <th class="text-center">نوع البند</th>
                                <th class="text-center">المبلغ</th>
                                <!-- <th class="text-center">التاريخ</th> -->

             

                            </tr>
                        </thead>

                        <tbody>
                            <tr class="text-center" *ngFor=" let item of transact; ">
                                <td> <input class="form-check-input" type="radio" name="id"  id="gridRadios1" [value]="item.id" [(ngModel)]="id" > </td>
                                <th scope="row"> {{item.id}} </th>
                                 <td> {{item.type}} </td>
                                 <td> {{item.amount}} </td> 
                                 <!-- <td> {{item.date}} </td>  -->
                            </tr>
                             <!-- <tr class="text-center">
                                <td> <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" > </td>
                                <th scope="row">#2049</th>
                                <td>Ashleigh Langosh</td>
                                <td> At recusandae consectetur</td>
                                <td>At recusandae consectetur</td>

                            </tr> -->
                             <!-- <tr class="text-center">
                                <td> <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" > </td>
                                <th scope="row">#2049</th>
                                <td>Ashleigh Langosh</td>
                                <td>At recusandae consectetur</td>
                                <td>At recusandae consectetur</td>

                            </tr> -->
                            <!-- <tr class="text-center">
                                <td> <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" > </td>
                                <th scope="row">#2049</th>
                                <td>Ashleigh Langosh</td>
                                <td>At recusandae consectetur</td>
                                <td>At recusandae consectetur</td>
                            </tr>   -->

                        </tbody>
                    </table>

                    <div class="row">
                        <div class=" d-flex align-items-center justify-content-center ">
                            <button type="button" class="btn btn-success rounded-3 mx-3 px-3 " (click)="updatetrans()">تعديل</button>
                            <button type="button" class="btn btn-danger rounded-3 mx-3 px-3  " (click)="deleteTrans()">حذف</button>
                        </div> 

                    </div>
                    
                </div>
              </div>
                <!-- </section> -->