<html style="direction: rtl">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <style>
      .row 
      {
        display: flex;
      }
      @media print
      {
        main{height: 80mm; width: 80mm;}
        .help{ display: none !important;}
        @page{height: 80mm; width: 80mm;}
      }
   
    </style>
  </head>
  <body>
     
    <section id="Print">

        <main style="font-size: large  ;">
          <div>
            <!-- Mian Reciept Data  -->
            <div>
              <div style="display: flex; justify-content: center">
                <p style="text-align: center; font-size: 22px; font-weight: bold">
                  فاتورة مبيعات
                </p>
              </div>
              <div style="display: flex; justify-content: space-around; font-weight: bold;">
                <div>
                  <p style="text-align: center;font-size: 16px;">التاريخ: {{ExportReciept.date | date: 'dd'}}/{{ExportReciept.date | date:'MM'}}/{{ExportReciept.date | date: 'yyyy'}}</p>
                </div>
                <div>
                  <p style="text-align: center;font-size: 16px;">الوقت: {{ExportReciept.date | date:'mediumTime'}}</p>
                </div>
                <div>
                  <p style="text-align: center;font-size: 16px;">المستخدم: {{ExportReciept.userName }}</p>
                </div>
              </div>
              <div>
                <div>
                  <p style="text-align: center;font-size: 16px; font-weight: bold;">اسم العميل : {{Customer.name}}</p>
                </div>
              </div>
            </div>
            <hr style="width:100%; border: 2px solid black;" >
            <br>
            <!-- Reciept Product Data  -->
            <div class="d-flex justify-content-center">
              <table style="width:90%;" class="table " >
        
             
                <tbody>
                  <tr class="font-weight-bold">
                    <td style="text-align: center;">الصنف</td>
                    <td style="text-align: center;">الكمية</td>
                    <td style="text-align: center;">سعر البيع</td>
                    <td style="text-align: center;">الاجمالي</td>
                </tr>
      
                  <tr *ngFor="let item of ExportReciept.products" >
                    <td style="text-align: center;">{{ item.productName }}</td>
                    <td style="text-align: center;">{{ item.quantity }}</td>
                    <td style="text-align: center;">{{ item.totalPrice / item.quantity }}</td>
                    <td style="text-align: center;">{{ item.totalPrice }}</td>
                </tr>
                </tbody>
            </table>
            </div>
            <br>
            <hr style="width:100%; border: 2px solid black;" >
            <br>
            <!-- Reciept Finicial Data -->
            <div class="fw-bolder">
              <div style="display: flex; justify-content: center">
                <p style="text-align: center; font-size: 18px; ">
                  حساب الفاتورة
                </p>
              </div>
              <br>
              <div class="row" style="display: flex; justify-content: space-around; ">
                <div class="col-md-6">
                  <p style="text-align: center;font-size: 16px;">الاجمالي: {{ExportReciept.total}}</p>
                </div>
                <div  class="col-md-6">
                  <p style="text-align: center;font-size: 16px;">المبلغ المدفوع: {{ExportReciept.paid}}</p>
                </div>
                <div  class="col-md-6">
                  <p style="text-align: center;font-size: 16px;">الحساب السابق للعميل  : {{(Customer.account-ExportReciept.remaining) <= 0 ? 0 : Customer.account-ExportReciept.remaining}}</p>
                </div>
                <div  class="col-md-6">
                  <p style="text-align: center;font-size: 16px;"> الحساب الحالي للعميل : {{Customer.account }}</p>
    
                </div>
              </div>
            </div>
          </div>
        </main>
        <div class=" help d-flex justify-content-center align-items-center">
          <button class="btn btn-primary m-2"
          (click)="Print();" >طباعه</button>
    
          <button class="btn btn-danger m-2"
            (click)="btnClick();">رجوع</button>
        </div>
    </section>
  
  </body>

</html>
