<html style="direction: rtl">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <style>
      @media print {
        footer {
          page-break-after: always;
        }
      }

      .column {
        float: left;
      }

      /* Clear floats after the columns */
      .row {
        display: flex;
      }

      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }

      footer {
        page-break-after: always;
      }
    </style>
  </head>
  <div id="Print">
    <div
      style="border-style: solid; height: 34cm; width: 26cm; font-size: 15pt"
    >
      <div style="padding: 15px">
        <!-- Mian Reciept Data  -->
        <div>
          <br>
          <br>
          <div style="display: flex; justify-content: center">
            <p style="text-align: center; font-size: 22px; font-weight: bold">
              فاتورة مبيعات
            </p>
          </div>
          <br>
          <br>
          <div style="display: flex; justify-content: space-around;">
            <div>
              <p style="text-align: center;font-size: 16px;">التاريخ: {{ExportReciept.date | date: 'dd'}}/{{ExportReciept.date | date:'MM'}}/{{ExportReciept.date | date: 'yyyy'}}</p>
            </div>
            <div>
              <p style="text-align: center;font-size: 16px;">الوقت: {{ExportReciept.date | date:'mediumTime'}}</p>
            </div>
            <div>
              <p style="text-align: center;font-size: 16px;">المستخدم: {{ExportReciept.userName }}</p>
            </div>
          </div>
          <br>
          <div>
            <div>
              <p style="text-align: center;font-size: 16px; font-weight: bold;">اسم العميل : {{Customer.name}}</p>
            </div>
          </div>
        </div>
        <hr style="width:100%; border: 2px solid black;" >
        <br>
        <!-- Reciept Product Data  -->
        <div>
          <table style="width:100%">
            <thead>
              <tr>
                  <td style="text-align: center;">الصنف</td>
                  <td style="text-align: center;">الكمية</td>
                  <td style="text-align: center;">سعر البيع</td>
                  <td style="text-align: center;">الاجمالي</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ExportReciept.products">
                <td style="text-align: center;">{{ item.productName }}</td>
                <td style="text-align: center;">{{ item.quantity }}</td>
                <td style="text-align: center;">{{ item.totalPrice / item.quantity }}</td>
                <td style="text-align: center;">{{ item.totalPrice }}</td>
            </tr>
            </tbody>
        </table>
        </div>
        <br>
        <hr style="width:100%; border: 2px solid black;" >
        <br>
        <!-- Reciept Finicial Data -->
        <div>
          <div style="display: flex; justify-content: center">
            <p style="text-align: center; font-size: 18px; font-weight: bold">
              حساب الفاتورة
            </p>
          </div>
          <br>
          <div style="display: flex; justify-content: space-around;">
            <div>
              <p style="text-align: center;font-size: 16px;">الاجمالي: {{ExportReciept.total}}</p>
            </div>
            <div>
              <p style="text-align: center;font-size: 16px;">المبلغ المدفوع: {{ExportReciept.paid}}</p>
            </div>
            <div>
              <p style="text-align: center;font-size: 16px;">المبلغ المتبقي : {{ExportReciept.remaining <= 0 ? 0 : ExportReciept.remaining}}</p>
            </div>
            <div>
              <p style="text-align: center;font-size: 16px;"> الحساب الحالي للعميل : {{Customer.account }}</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer></footer>
</html>
