<app-header></app-header>
<main id="main" class="main">
  <div dir="rtl" class="pagetitle">
    <h1>النفقات</h1>
    <nav class="mt-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/Home">الصفحة الرئيسية</a>
        </li>
        <li class="breadcrumb-item"></li>
        <li class="breadcrumb-item active">الخزنة</li>
      </ol>
    </nav>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">بيانات النفقات</h3>
          <div class="row mb-3 col-lg-6">
            <label for="ProductName" class="col-sm-2 col-form-label"
              >اسم
            </label>
            <div class="col-sm-10">
              <input
                class="form-control"
                list="car"
                id="Prod"
                placeholder=" اسم"
                [(ngModel)]="name"
                #itemName="ngModel"
                required
                minlength="3"
                [ngClass]="{
                  'is-invalid': Addeded && itemName.errors
                }"
                [ngClass]="{
                  'is-valid': itemName.valid
                }"
              />
              <div *ngIf="Addeded && itemName.errors" class="text-danger">
                <small *ngIf="itemName.errors['required']"
                  >يجب ادخال الاسم</small
                >
                <small *ngIf="itemName.errors['minlength']"
                  >يجب الا يقل الاسم عن 4 حروف</small
                >
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col d-flex justify-content-center">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="addexpend()"
              >
                اضافة
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">بيانات النفقات</h3>
          <table class="table">
            <thead>
              <tr class="text-center">
                <th></th>
                <th scope="col">كود</th>
                <th scope="col">اسم النفقه</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngFor="let item of Expand">
                <td>
                  <input
                    class="form-check-input"
                    #radioInput
                    type="radio"
                    name="id"
                    id="gridRadios1"
                    [value]="item.id"
                    [(ngModel)]="id"
                  />
                </td>
                <td scope="row">{{ item.id }}</td>

                <td>
                  <div *ngIf="!this.radioInput.checked">
                    {{ item.name }}
                  </div>
                  <div *ngIf="this.radioInput.checked">
                    <input
                      [(ngModel)]="item.name"
                      type="text"
                      class="form-control"
                      #itemName="ngModel"
                      required
                      minlength="3"
                      [value]="item.name"
                      (change)="changeTable(item.id, item.name, radioInput)"
                      [ngClass]="{
                        'is-invalid':
                          (itemName.invalid || tableNotValid) &&
                          (itemName.dirty || itemName.touched)
                      }"
                      [ngClass]="{
                        'is-valid': itemName.valid && !tableNotValid
                      }"
                    />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center">
            <button class="btn btn-danger mx-3" (click)="deletexpend()">
              حذف
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
